@import '../../node_modules/bootstrap/scss/bootstrap.scss';



$font: 'Calibri';
body{
    font-family: $font, Tahoma, Geneva, Verdana, sans-serif
}

.mynav{
    height:30px;
    padding: 0px;
    #logoimage{
        margin-bottom: 10px;
        margin-left: 5px;
        width:28px;
        height:28px;
    }
    #logo {
        margin-left: 10px;
        font-size: 20px;
    }
}

