@import '../../node_modules/bootstrap/scss/bootstrap.scss';



$font: 'Calibri';
body{
    font-family: $font, Tahoma, Geneva, Verdana, sans-serif
}

.mynav{
    height:30px;
    padding: 0px;
    box-shadow: 0px 4px 6px 0px #6d6d6d;
    #logoimage{
        margin-bottom: 10px;
        margin-left: 5px;
        width:28px;
        height:28px;
    }
    #logo {
        margin-left: 10px;
        font-size: 20px;
    }
}

.myfooter
{
    height: 30px;
    box-shadow: 0px -4px 6px 0px #6d6d6d;
}

.myformborder
{
    border-width: 1px;
    border-style: solid;
    border-color: #dadada;
    border-radius: 10px;

}